src/__pycache__/irc.cpython-38.pyc
src/__pycache__/db_manager.cpython-38.pyc
src/__pycache__/common_functions.cpython-38.pyc
src/__pycache__/client.cpython-38.pyc
src/__pycache__/bot.cpython-38.pyc
src/__pycache__/__main__.cpython-38.pyc
src/__pycache__/__init__.cpython-38.pyc
config/__pycache__/config.cpython-38.pyc
UltimoPedido.txt
Usuario.txt
JuegoPedido.txt
config/config.ini
db/arcadesDB
tempCodeRunnerFile.bat
UltimaFichaAdquirida.txt
db/arcadesDB
